body {
    background-color: rgb(9, 228, 240);
    color: blue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    font-style: italic;
}
#cuisine{
    border: 5px solid rgb(253, 255, 240);
        margin-bottom: 20px;
        padding-left: 10px;
}
#bengali-food {
    border: 5px solid rgb(253, 255, 240);
    margin-bottom: 20px;
    padding-left: 10px;
}
#gujrati {
    border: 5px solid rgb(253, 255, 240);
    margin-bottom: 20px;
    padding-left: 10px;}
        #mughali {
            border: 5px solid rgb(253, 255, 240);
            margin-bottom: 20px;
            padding-left: 10px;}
#punjabi  {
    border: 5px solid rgb(253, 255, 240);
    margin-bottom: 20px;
    padding-left: 10px;}
        #south indian  {
            border: 5px solid rgb(253, 255, 240);
            margin-bottom: 20px;
            padding-left: 10px;
        }