body {
    background-color: rgb(240, 9, 105);
    color: azure;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    font-style: aerial;
}
#cuisine{
    border: 5px solid rgb(253, 255, 240);
        margin-bottom: 20px;
        padding-left: 10px;
}
#bengali {
    border: 5px solid rgb(253, 255, 240);
    margin-bottom: 20px;
    padding-left: 10px;
}
#gujrat {
    border: 5px solid rgb(253, 255, 240);
    margin-bottom: 20px;
    padding-left: 10px;}
        #mughali {
            border: 5px solid rgb(253, 255, 240);
            margin-bottom: 20px;
            padding-left: 10px;}
#punjabi  {
    border: 5px solid rgb(253, 255, 240);
    margin-bottom: 20px;
    padding-left: 10px;}
        #south indian  {
            border: 5px solid rgb(253, 255, 240);
            margin-bottom: 20px;
            padding-left: 10px;
        }